.topPanel {height: 50px;line-height: 50px;background: #fff;border: 1px solid #ddd;margin: 0px;border-bottom: none;position: relative;}
.topPanel .search {width: 20%;min-width: 300px; overflow: auto;margin-left: 5px; position: absolute; top: 0; bottom: 0; position: absolute;}
.topPanel .search .input-group {line-height: 30px; margin-top: 1px;}
.topPanel .search .input-group .form-control { box-shadow: none;line-height: 29px; padding-top: 0px; padding-bottom: 0px; padding-right: 0px; padding-left: 7px; resize: none; }
.topPanel .search .input-group .btn {padding: 0px 0px;font-size: 14px;height: 29px; min-width: 30px;}
.topPanel .search .input-group .btn i{margin-right:0px;}
.topPanel .search .input-group .form-control{box-shadow:none;height:29px;line-height:29px;padding-top:0px;padding-bottom:0px;padding-right:0px;padding-left:7px;resize: none;}
.topPanel .search .input-group .form-control:focus{border-color:#ddd;-webkit-box-shadow:none;box-shadow:none;}
.gridPanel {background: #fff; border: 1px solid #ddd;margin: 0px; position: relative;}
.panel { margin-bottom:0px;}
.panel-body { padding: 0px; }
.ckbox,.rdio{position: relative;display:block;padding-right:12px;line-height: initial;float:left;}
.ckbox input[type="checkbox"],.rdio input[type="radio"]{opacity: 0;margin: 3px 0 0;}
.ckbox label,.rdio label{padding-left: 10px;cursor: pointer;-moz-user-select: none;-webkit-user-select: none;-ms-user-select: none;-khtml-user-select: none;user-select: none;}
.ckbox label:before{width: 18px;height: 18px;position: absolute;top: 1px;left: 0;content: '';display: inline-block;border: 1px solid #ccc;background: #fff;}
.ckbox input[type="checkbox"]:disabled + label{color: #999;}
.ckbox input[type="checkbox"]:disabled + label:before{background-color: #eee;}
.ckbox input[type="checkbox"]:checked + label::after{font-family: 'FontAwesome';content: "\F00C";position: absolute;top: 4.5px;left: 3.5px;display: inline-block;font-size: 11px;width: 16px;height: 16px;color: #fff;}
.ckbox input[type="checkbox"]:checked + label:before{border-color: #337ab7;background-color: #337ab7;}
.rdio label:before{width: 18px;height: 18px;position: absolute;top: 1px;left: 0;content: '';display: inline-block;-moz-border-radius: 50px;-webkit-border-radius: 50px;border-radius: 50px;border: 1px solid #ccc;background: #fff;}
.rdio input[type="radio"]:disabled + label{color: #999;}
.rdio input[type="radio"]:disabled + label:before{background-color: #eee;}
.rdio input[type="radio"]:checked + label::after{content: '';position: absolute;top: 5px;left: 4px;display: inline-block;font-size: 11px;width: 10px;height: 10px;background-color: #444;-moz-border-radius: 50px;-webkit-border-radius: 50px;border-radius: 50px;}
.rdio input[type="radio"]:checked + label:before{border-color: #337ab7;}
.rdio input[type="radio"]:checked + label::after{background-color: #337ab7;}
.ckbox,.rdio{position: relative;display:block;padding-right:12px;line-height: initial;float:left;}
.ckbox input[type="checkbox"],.rdio input[type="radio"]{opacity: 0;margin: 3px 0 0;}
.ckbox label,.rdio label{padding-left: 10px;cursor: pointer;-moz-user-select: none;-webkit-user-select: none;-ms-user-select: none;-khtml-user-select: none;user-select: none;}
.ckbox label:before{width: 18px;height: 18px;position: absolute;top: 1px;left: 0;content: '';display: inline-block;border: 1px solid #ccc;background: #fff;}
.ckbox input[type="checkbox"]:disabled + label{color: #999;}
.ckbox input[type="checkbox"]:disabled + label:before{background-color: #eee;}
.ckbox input[type="checkbox"]:checked + label::after{font-family: 'FontAwesome';content: "\F00C";position: absolute;top: 4.5px;left: 3.5px;display: inline-block;font-size: 11px;width: 16px;height: 16px;color: #fff;}
.ckbox input[type="checkbox"]:checked + label:before{border-color: #337ab7;background-color: #337ab7;}
.rdio label:before{width: 18px;height: 18px;position: absolute;top: 1px;left: 0;content: '';display: inline-block;-moz-border-radius: 50px;-webkit-border-radius: 50px;border-radius: 50px;border: 1px solid #ccc;background: #fff;}
.rdio input[type="radio"]:disabled + label{color: #999;}
.rdio input[type="radio"]:disabled + label:before{background-color: #eee;}
.rdio input[type="radio"]:checked + label::after{content: '';position: absolute;top: 5px;left: 4px;display: inline-block;font-size: 11px;width: 10px;height: 10px;background-color: #444;-moz-border-radius: 50px;-webkit-border-radius: 50px;border-radius: 50px;}
.rdio input[type="radio"]:checked + label:before{border-color: #337ab7;}
.rdio input[type="radio"]:checked + label::after{background-color: #337ab7;}
.formValue.has-error .form-control.error{border-color:#e7bebe;background-color: #fffafa;}
.formValue.has-error .form-control-feedback.error{color: #e46f61;top:10px;right: -8px;font-size:16px;cursor:pointer;z-index:99;}
.formValue.has-error .form-control.success{border-color:#b0dd9c;background-color: #f3f7f1;}
.formValue.has-error .form-control-feedback.success{color: #8cc474;top:5px;right: 4px;font-size:16px;}
.formValue.has-error .select2-selection--single{border-color:#e7bebe;background-color: #fffafa;}
.formValue.has-error .tooltip-arrow{border-left-color:#d73d32;}
.formValue.has-error .tooltip-inner{background-color: #d73d32;}
.wrapper{border: 1px solid #ddd;overflow:auto;color: #475059;background-color:#fff;}
.wrapper .nav-tabs{position:relative;z-index:1;margin:0;padding:15px 15px 0;border-color:#ddd}
.wrapper .nav-tabs>li{margin:0 4px 0 0;}
.wrapper .nav-tabs>li>a{line-height:30px;padding:0 13px;background-color:#fff;border:none;cursor:pointer;color: #666;}
.wrapper .nav-tabs>li>a:hover{border:none;border-bottom:2px solid #1ABC9C;background-color:#fff;color:#333}
.wrapper .nav-tabs>li.active a{line-height:30px;background-color:#fff;border:none;border-bottom:2px solid #1ABC9C;color: #666;}
.wrapper .nav-tabs>li.active a:hover,.aw-nav-tabs>li.active a:focus,.aw-nav-tabs>li>a:focus{border:none;border-bottom:2px solid #1ABC9C;background-color:#fff}
.wrapper .pop-list{width: 100%;margin: 0;float: left;height: auto;list-style: none;padding:0px;}
.wrapper .pop-list li{position: relative;float: left;clear: left;width: 100%;height: auto;margin-bottom: 10px;line-height: 20px;list-style: none;}
.wrapper .pop-list li span{float: left;max-width: 200px;margin-right: 10px;}
.wrapper .pop-list li.line{padding-bottom: 8px;border-bottom: 1px solid #e6e6e6;}
.wrapper .pop-list li.line h5{color: #525252;}
.wrapper .pop-list li h5{font-size: 12px;font-weight: bold;line-height: 24px;}
.wrapper .pop-list label{line-height: 30px;display: block;float: left;min-width: 100px;height: 30px;padding: 5px 0;padding-right:15px;}
.wrapper .pop-list li .form-control{float: left;width: 300px;margin-right: 5px;line-height: 30px;height: 30px;padding:0px;padding-left:5px;margin-top:3px;border-radius: 3px;box-shadow:none;resize: none;}
.ui-layout .topPanel{border: none;}
.ui-layout .ui-jqgrid{border-left:none;border-right:none;border-bottom:none;}