
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BaseIndex.cshtml";
}

<div class="ui-layout" id="layout" style="height: 100%; width: 100%;">
    <div class="ui-layout-west">
        <div id="itemTree"></div>
    </div>
    <div class="ui-layout-center">
        <div class="topPanel">
           
        </div>
        <div class="gridPanel">
            
        </div>
    </div>
</div>

