@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BaseIndex.cshtml";
}
@section PageSpecificStyleSheetIncludes{
    <link href="~/Content/js/bootstrap-treeview/bootstrap-treeview.css" rel="stylesheet" />
}

<div class="ui-layout-west" style="margin-right:5px">
    <div id="itemTree"></div>
</div>
<div class="ui-layout-middle">
    <div class="topPanel">
        <div class="search">
            <div class="input-group">
                <div class="btn-group">
                    <input id="txt_keyword" type="text" class="form-control" placeholder="员工姓名" style="width: 200px; margin:auto 0;">
                    <span class="input-group-btn">
                        <button id="btn_search" type="button" class="btn  btn-primary" onclick="bt_query()"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="gridPanel" style="left: 0; right: 0; top: 50px; bottom:0;padding-left:5px;padding-right:5px;">
        <table id="table"></table>
    </div>
</div>
@section PageSpecificJavascriptIncludes{
    <script src="~/Content/js/bootstrap-treeview/bootstrap-treeview.js"></script>
    <script type="text/javascript">
        var treeNodeData;
            $("#table").tableClient({
                height: $(window).height() - 60,
                uniqueId: "User_Id", //主键
                columns: [
                    {
                        title: '员工编号',
                        halign: 'center',
                        field: 'User_Code',
                        align: 'center',
                        valign: 'middle',
                        sortable: true
                    },
                    {
                        title: '员工姓名',
                        field: 'User_Name',
                        align: 'center',
                        valign: 'middle'
                    },                   
                    {
                        title: '邮箱',
                        field: 'User_Email',
                        align: 'center',
                        valign: 'middle' 
                    },
                    {
                        title: '手机号',
                        field: 'User_Mobile',
                        align: 'center',
                        valign: 'middle'
                    },
                    {
                        title: '员工状态',
                        field: 'User_EnabledText',
                        align: 'center',
                        valign: 'middle',
                        sortable: true
                    }
                ]
            });

            $.ajaxQuery({
                url: "/System/UnitUserInfo/GetUnitTree",
                success: function (data) {
                    $("#itemTree").treeview({
                        data: data.resultdata,
                        color: "#428bca",
                        showTags: true,
                        onNodeSelected: function (event, node) {
                            treeNodeData = node;
                            $.ajaxQuery({
                                url: "/System/UnitUserInfo/GetByKeyUser",
                                param: { id: node.id,username:"" },
                                success: function (data) {
                                    $('#table').bootstrapTable('load', data.resultdata);
                                }
                            })
                        }
                    });
                }
            });
            function bt_query() {
                if (treeNodeData==null) {
                    $.modalMsg('请选择部门数据！', '', 2000);
                    return null;
                }
                $.ajaxQuery({
                    url: "/System/UnitUserInfo/GetByKeyUser",
                    param: { id: treeNodeData.id, username: function () { return $("#txt_keyword").val(); } },
                    success: function (data) {
                        $('#table').bootstrapTable('load', data.resultdata);
                    }
                })
            }

    </script>
}

