@{
    Layout = null;
}

<!DOCTYPE html>
<html>


<!-- Mirrored from www.zi-han.net/theme/hplus/graph_sparkline.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 20 Jan 2016 14:19:09 GMT -->
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title></title>

    <link rel="shortcut icon" href="favicon.ico">
    <link href="~/Content/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="~/Content/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">

    <link href="~/Content/css/animate.min.css" rel="stylesheet">
    <link href="~/Content/css/style.min862f.css?v=4.1.0" rel="stylesheet">
</head>

<body class="gray-bg">
    <div class="row" style="margin-left: 20px; margin-top: 10px; margin-right:20px;">
        <div class="row">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Sparkline图表 <small>自定义颜色</small></h5>
                    <div class="ibox-tools">
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div>
                    <table class="table table-bordered white-bg">
                        <thead>
                            <tr>
                                <th>图表</th>
                                <th>类型</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>
                                    <span id="sparkline1"></span>
                                </td>
                                <td>
                                    内联线性图
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span id="sparkline2"></span>
                                </td>
                                <td>
                                    柱状图
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span id="sparkline3"></span>
                                </td>
                                <td>
                                    饼状图
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span id="sparkline4"></span>
                                </td>
                                <td>
                                    长线性图
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span id="sparkline5"></span>
                                </td>
                                <td>
                                    三态图
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span id="sparkline6"></span>
                                </td>
                                <td>
                                    散点图
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>自定义饼状图尺寸</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="graph_sparkline.html#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li>
                                    <a href="graph_sparkline.html#">选项1</a>
                                </li>
                                <li>
                                    <a href="graph_sparkline.html#">选项2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content text-center h-200">
                        <span id="sparkline7"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>自定义柱状图尺寸</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="graph_sparkline.html#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li>
                                    <a href="graph_sparkline.html#">选项1</a>
                                </li>
                                <li>
                                    <a href="graph_sparkline.html#">选项2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content text-center h-200">
                        <span id="sparkline8"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>自定义线性图尺寸</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="graph_sparkline.html#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li>
                                    <a href="graph_sparkline.html#">选项1</a>
                                </li>
                                <li>
                                    <a href="graph_sparkline.html#">选项2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content text-center h-200">
                        <span id="sparkline9"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Content/js/jquery.min.js?v=2.1.4"></script>
    <script src="~/Content/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="~/Content/js/content.min.js?v=1.0.0"></script>
    <script src="~/Content/js/sparkline/jquery.sparkline.min.js"></script>  
    <script src="~/Content/js/sparkline/sparkline-demo.min.js"></script>
</body>
</html>
