@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BaseIndex.cshtml";
}
@section PageSpecificStyleSheetIncludes{
    <link href="~/Content/js/bootstrap-datetimepicker/bootstrap-datetimepicker.css" rel="stylesheet" />
    <style type="text/css">
        .fixed-table-container {
            padding-bottom: 37px;
        }

        .pagination-detail {
            margin-bottom: 0;
            margin-top: 0;
        }
    </style>
}
@*查询区域*@
<div class="topPanel">
    <div class="search">
        <div class="input-group">
            <div class="btn-group">
                <input id="txt_keyword" type="text" class="form-control" placeholder="员工姓名" style="width: 200px; margin: auto 0;">
                <span class="input-group-btn">
                    <button id="btn_search" type="button" class="btn  btn-primary" onclick=" bt_query() "><i class="fa fa-search"></i></button>
                </span>
            </div>
        </div>
    </div>
</div>
@*数据显示区域*@
<div class="gridPanel">
    <div class="ibox float-e-margins">
        <div class="ibox-content" style="padding:0 5px 5px">
            <div class="example-wrap">
                <div class="example">
                    <div id="tableToolbar">
                        <div class="btn-group hidden-xs" role="group">
                            <button type="button" class="btn btn-outline btn-default" onclick="bt_detail()">
                                <i class="glyphicon glyphicon-zoom-in" aria-hidden="true">查看</i>
                            </button>
                            <button type="button" class="btn btn-outline btn-default" onclick="bt_add()">
                                <i class="glyphicon glyphicon-plus" aria-hidden="true">新增</i>
                            </button>
                            <button type="button" class="btn btn-outline btn-default" onclick="bt_edit()">
                                <i class="glyphicon glyphicon-edit" aria-hidden="true">编辑</i>
                            </button>
                            <button type="button" class="btn btn-outline btn-default" onclick="bt_del()">
                                <i class="glyphicon glyphicon-trash" aria-hidden="true">删除</i>
                            </button>
                        </div>
                        <div class="btn-group hidden-xs" role="group">
                            <button type="button" class="btn btn-outline btn-default" onclick="bt_loginSet()">
                                <i class="fa fa-cog" aria-hidden="true">设置登录账户</i>
                            </button>
                            <button type="button" class="btn btn-outline btn-default" onclick="bt_disable()">
                                <i class="fa fa-stop" aria-hidden="true">禁用</i>
                            </button>
                            <button type="button" class="btn btn-outline btn-default" onclick="bt_enable()">
                                <i class="fa fa-play" aria-hidden="true">启用</i>
                            </button>
                        </div>
                    </div>
                    <table id="table"></table>
                </div>
            </div>
        </div>
    </div>
</div>
@*弹出框*@
<div class="modal inmodal" id="myModal" tabindex="-1" data-backdrop="static" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:700px">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
                </button>
                <h6 class="modal-title">员工信息</h6>
            </div>
            <div class="modal-body">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form class="form-horizontal m-t-xs" id="commentForm">
                            <div class="form-group">
                                <label class="col-sm-2 control-label"><i>*</i>员工编号：</label>
                                <div class="col-sm-3 formValue">
                                    <input id="User_Code" name="User_Code" type="text" class="form-control required" maxlength="30" placeholder="请输入员工编号" />
                                </div>
                                <label class="col-sm-3 control-label"><i>*</i>员工姓名：</label>
                                <div class="col-sm-3 formValue">
                                    <input id="User_Name" name="User_Name" type="text" class="form-control required" maxlength="60" placeholder="请输入员工姓名" />
                                </div>
                            </div>
                            <div class="form-group">

                                <label class="col-sm-2 control-label">所属部门：</label>
                                <div class="col-sm-3 formValue">
                                    <select id="Unit_Id" name="Unit_Id" type="select2" class="form-control"></select>
                                </div>
                                <label class="col-sm-3 control-label">员工状态：</label>
                                <div class="col-sm-3 formValue">
                                    <select id="User_Enabled" name="User_Enabled" type="select2" class="form-control">
                                    </select>
                                </div>
                                
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">出生日期：</label>
                                <div class="col-sm-3 formValue">
                                    <div class="input-append date form_datetime">
                                        <input size="10" type="text" id="Usr_Birthday" name="Usr_Birthday"  class="form-control" value=" " readonly>
                                        <span class=" add-on"><i class="icon-th"></i></span>
                                    </div>
                                </div>
                                <label class="col-sm-3 control-label">年龄：</label>
                                <div class="col-sm-3 formValue">
                                    <input id="User_Age" name="User_Age" type="text" class="form-control" range=[0,150] maxlength="3" placeholder="请输入年龄" />
                                </div>                                                              
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">性别：</label>
                                <div class="col-sm-3 formValue">
                                    <select id="User_Sex" name="User_Sex" type="select2" class="form-control">
                                        <option value="男">男</option>
                                        <option value="女">女</option>
                                    </select>
                                </div>                                                             
                                <label class="col-sm-3 control-label">手机号：</label>
                                <div class="col-sm-3 formValue">
                                    <input id="User_Mobile" name="User_Mobile" type="text" class="form-control" maxlength="20" placeholder="请输入手机号" />
                                </div>                                
                               
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" style="padding-left: 5px;">身份证号码：</label>
                                <div class="col-sm-3 formValue">
                                    <input id="User_Idcard" name="User_Idcard" type="text" class="form-control" maxlength="50" placeholder="请输入身份证号码" />
                                </div>

                                <label class="col-sm-3 control-label">银行卡号码：</label>
                                <div class="col-sm-3 formValue">
                                    <input id="User_Bankcode" name="User_Bankcode" type="text" class="form-control" creditcard="true" maxlength="50"  placeholder="请输入银行号码" />
                                </div>
                                
                               
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">邮箱：</label>
                                <div class="col-sm-3 formValue">
                                    <input id="User_Email" name="User_Email" type="text" class="form-control" email="true" maxlength="100" placeholder="请输入邮箱" />
                                </div>

                                <label class="col-sm-3 control-label">QQ号码：</label>
                                <div class="col-sm-3 formValue">
                                    <input id="User_Oicq" name="User_Oicq" type="text" class="form-control" maxlength="20" placeholder="请输入QQ号码" />
                                </div>
                                
                            </div>
                            <div class="form-group">
                                
                                <label class="col-sm-2 control-label">毕业学校：</label>
                                <div class="col-sm-3 formValue">
                                    <input id="User_School" name="User_School" type="text" class="form-control" maxlength="100" placeholder="请输入毕业学校" />
                                </div>

                                <label class="col-sm-3 control-label">备注：</label>
                                <div class="col-sm-3 formValue">
                                    <input id="User_Description" name="User_Description" type="text" maxlength="100" class="form-control"/>
                                </div>
                                
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="bt_ok" class="btn btn-primary" onclick="submitForm()">确定</button>
                <button type="button" id="bt_close" class="btn btn-danger" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
@section PageSpecificJavascriptIncludes{
    <script src="~/Content/js/bootstrap-datetimepicker/bootstrap-datetimepicker.js"></script>
    <script src="~/Content/js/bootstrap-datetimepicker/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="~/Scripts/System/UserInfoIndex.js"></script>
}