<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- ================== 1：开发系统相关配置 ================== -->
  <!-- 登陆提供者模式：Session、Cookie-->
  <add key="LoginProvider" value="Cookie" />
  <!-- 允许重复登录(单点登录与多点登陆) -->
  <add key="CheckOnLine" value="true" />
  <!-- 启用系统日志-->
  <add key="IsLog" value="true" />
  <!-- 启用数据登录日志-->
  <add key="IsDBLoginLog" value="false" />
  <!-- ================== 2：系统软件参数配置 ================== -->
  <!-- 公司名称 -->
  <add key="CustomerCompanyName" value="xxx软件公司" />
  <!-- 系统名称 -->
  <add key="SystemName" value="xxx管理系统" />
  <!-- 软件名称 -->
  <add key="SoftName" value="xxx管理软件" />
  <!-- 软件版本 -->
  <add key="Version" value="1.0" />
</appSettings>